{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bfe52372c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/returnBook.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="back-btn-container">
            <i class="fa-solid fa-arrow-left" onclick="goBack()"></i>
            <h1 class="heading">Return Book</h1>
        </div>
        <div class="details-container">
            <div class="inside-container">
                <label for="bookTitle">Book Title :-</label>
                <p id="bookTitle">{{ loan.book.book_title }}</p>
                <label for="bookIssueDate">Issue Date :-</label>
                <p id="bookIssueDate">{{ loan.loan_date }}</p>
                <label for="bookDueDate">Due Date :-</label>
                <p id="bookDueDate">{{ loan.due_date }}</p>
                <label for="bookFine">Fine :-</label>
                <p id="bookFine">{{ loan.fine }}</p>
                <button id="bookReturnBtn" onclick="payReturnBook('{{loan.id}}')">Pay and Return</button>
            </div>
        </div>

        
    </div>

    <script src="{% static 'js/returnBook.js' %}"></script>
</body>
</html>